<strong> Olá, {{deliveryman}}</strong>
<p>Você tem uma nova entrega aguardando para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Cliente: </strong> {{name}} <br />
  <strong>Rua: </strong> {{rua}} <br />
  <strong>Numero: </strong> {{numero}} <br />
  <strong>Complemento: </strong> {{complemento}} <br />
  <strong>Cidade: </strong> {{cidade}} <br />
  <strong>CEP: </strong> {{cep}} <br />
  <br />
</p>
